
.app-title{
    text-align: center;
    color: white;
}
/* .app-container{
    display: flex;
    
    flex-wrap: wrap;
} */
.link-generator{
    color: white;
    text-align: center;
}
.link-generater-card {
   
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgb(210, 182, 182);
    height: 300px;
    width: 650px;
    margin: 0 auto;
    padding: 10px 60px;
    
}
.user-input{
    width: 250px;
    margin-bottom:10px ;
    font-size: 20px;
    padding: 5px 10px;
    margin: 15px;
    outline: none;
    background:none;
    color: white;
   

}
.btn-generate-link{
    display: block;
    background-color: green;
    color: white;
    padding: 12px 30px;
    border-radius: 15px;
    border:none;
    margin: 15px auto;
    font-size: 17px;
    cursor: pointer;

}
.input-short-url{
    width: 500px;
    margin-bottom:10px ;
    font-size: 20px;
    padding: 10px 10px;
    background:none;
    margin-top: 10px;
    color: green;

}
.short-url-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.copy-icon{
    cursor: pointer;
}
.link-card{
    color: white;
    padding: 5px 10px;
    margin: 0 auto;
    border-radius:10px;
    width: 1000px;
    box-shadow: 0 0 10px rgb(244, 196, 196) ;
    font-size: 20px;
    margin-top: 10px;
}
.all-links-container{
    height: 60vh;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width:1px ;
}
.all-links-container::-webkit-scrollbar {
    display: none;
}