body{
    background-color: rgb(210, 242, 242);
}
.app-title{
    text-align: center;
}
.app-container{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
}
.link-generater-card {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px black;
}
.user-input{
    width: 250px;
    margin-bottom:10px ;
    font-size: 20px;
    padding: 5px 10px;
    display: block;
    outline: none;

}
.btn-generate-link{
    display: block;
    background-color: black;
    color: white;
    padding: 10px 30px;
    border-radius: 15px;
    border:none;
    margin: 15px auto;
    font-size: 15px;
    cursor: pointer;

}
.input-short-url{
    width: 230px;
    margin-bottom:10px ;
    font-size: 20px;
    padding: 5px 10px;

}
.short-url-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.copy-icon{
    cursor: pointer;
}
